@{
    ViewBag.Title = "Home Page";
}
<div style="float: left; height: 500px">
    <img src="~/Images/FysioRoadmap-fysiotherapie-software.png" class="profile_pic" style="max-width:300px;width:100%">
</div>

<h2>
    Welkom bij FysioRoadmap
</h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />